[Unit]
Description=ss-tun L3 proxy for Chinese websites
After=network-online.target nss-lookup.target NetworkManager.service
Wants=network-online.target nss-lookup.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/ss-cn-tun
ExecStop=/usr/local/bin/ss-cn-tun stop

[Install]
WantedBy=multi-user.target
